<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/newcss/biyomedfatih.css">
       
</head>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Analitler Sayfası</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>


    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Analitler Tablosu</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form action="/analitler", method="POST">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Analit Adı</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="analit" placeholder="Analit Adı">

                </div>

        
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
        </form>
    </div>

    <div class="row">
        <div class="col">
            <div class="card ">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Analit Listesi</h3>
                    <div class="topnav">

                        <input type="text" placeholder="Arama..">
                      </div>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Analit Adı</th>
                               
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">Analit1</span>
                                        </div>
                                    </div>
                                </th>

                            

                                <td class="text-right">
                                    <div class="dropdown">
                                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" id="analitbirimbutton">Analit Birim Ekle</a>
                                            <a class="dropdown-item" id="analitkitbutton">Analit Kit Ekle</a>        
                                            <a class="dropdown-item" href="/devicemodels">Analit Sil</a>
        

                                        </div>
                                    </div>
                                </td>




                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">Analit2</span>
                                        </div>
                                    </div>
                                </th>

                             

                                <td class="text-right">
                                    <div class="dropdown">
                                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" id="programcihazibutton">Analit Birim Ekle</a>
                                            <a class="dropdown-item" id="programanalitbutton">Analit Kit Ekle</a>        
                                            <a class="dropdown-item" href="/devicemodels">Analit Sil</a>


                                        </div>
                                    </div>
                                </td>

                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">Analit3</span>
                                        </div>
                                    </div>
                                </th>

                             

                                <td class="text-right">
                                    <div class="dropdown">
                                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" id="programcihazibutton">Analit Birim Ekle</a>
                                            <a class="dropdown-item" id="programanalitbutton">Analit Kit Ekle</a>        
                                            <a class="dropdown-item" href="/devicemodels">Analit Sil</a>


                                        </div>
                                    </div>
                                </td>
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">
    
                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">Analit4</span>
                                            </div>
                                        </div>
                                    </th>

                                  
    
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" id="programcihazibutton">Analit Birim Ekle</a>
                                                <a class="dropdown-item" id="programanalitbutton">Analit Kit Ekle</a>        
                                                <a class="dropdown-item" href="/devicemodels">Analit Ekle</a>
                                                <a class="dropdown-item" href="/devicemodels">Analit Sil</a>
                                                <a class="dropdown-item" href="/devicemodels">ANalit Güncelle</a>
    
                                            </div>
                                        </div>
                                    </td>
    
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">
    
                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">Analit5</span>
                                            </div>
                                        </div>
                                    </th>

                          
    
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" id="programcihazibutton">Analit Birim Ekle</a>
                                                <a class="dropdown-item" id="programanalitbutton">Analit Kit Ekle</a>        
                                                <a class="dropdown-item" href="/devicemodels">Analit Ekle</a>
                                                <a class="dropdown-item" href="/devicemodels">Analit Sil</a>
                                                <a class="dropdown-item" href="/devicemodels">ANalit Güncelle</a>
    
                                            </div>
                                        </div>
                                    </td>
    
    
    
                                </tr>
                        </tbody>
                    </table>
                </div>




                <!-- Analit Birim Ekleme -->
                <div id="analitbirimmodal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="analitbirimclose">&times;</span>
                            <h2>Analit Birim Ekleme</h2>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="card-body">
                                    <h5  style="color: steelblue;">Analit1'e Ait Birimler</h5>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Analit Adı:</label> 
                    
                                        <label for="vehicle1"> Analit1</label><br>
                                        
                    
                                    </div>

                                    <div class="form-group">
                                        <label class="form-control-label" for="input-useractive">Birim Seç</label>
                                        
                  
                                        <select id="input-useractive" class ="form-control" name="useractive"  > 
                                          <option value="True">Birim1</option>
                                          <option value="False">Birim2</option>
                                          <option value="False">Birim3</option>
                                         
                                        </select>
                  
                                      </div>

                                  


                                    <div class="col-6 text-right">
                                        <button class="btn btn-neutral btn-primary">Ekle</button>
                                    </div>

                                </div>
                            </form>

                            <br> 
                            <h3 style="text-align: center;">Birim Listesi</h3>
                            <h5 style="text-align: right; margin-right: 122px;"> Arama Alanı:</h5>
                            <div class="topnav">

                                <input type="text" placeholder="Arama..">
                              </div>

                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col" class="sort" data-sort="name">Analit Adı</th>
                                            <th scope="col" class="sort" data-sort="name">Birim Adı</th>
                                         



                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        <tr>

                                            <th scope="row">
                                                <div class="media align-items-center">

                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">Analit1</span>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="row">
                                                <div class="media align-items-center">

                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">Birim1</span>
                                                    </div>
                                                </div>
                                            </th>

                                        



                                            <td class="text-right">
                                                <div class="dropdown">
                                                    <a href="#" role="button" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                           
                                                        <a class="dropdown-item" href="#">Sil</a>
                                            

                                                    </div>
                                                </div>
                                            </td>


                                        </tr>
                                        <tr>

                                            <th scope="row">
                                                <div class="media align-items-center">

                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">Analit2</span>
                                                    </div>
                                                </div>
                                            </th>

                                            <th scope="row">
                                                <div class="media align-items-center">

                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">Birim2</span>
                                                    </div>
                                                </div>
                                            </th>

                                         


                                            <td class="text-right">
                                                <div class="dropdown">
                                                    <a href="#" role="button" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                          
                                                        <a class="dropdown-item" href="#">Sil</a>
                                                     
                                                    </div>
                                                </div>
                                            </td>


                                        </tr>
                                        <tr>

                                            <th scope="row">
                                                <div class="media align-items-center">

                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">Analit3</span>
                                                    </div>
                                                </div>
                                            </th> 
                                            <th scope="row">
                                                <div class="media align-items-center">

                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">Birim3</span>
                                                    </div>
                                                </div>
                                            </th>

                                     



                                            <td class="text-right">
                                                <div class="dropdown">
                                                    <a href="#" role="button" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                       
                                                        <a class="dropdown-item" href="#">Sil</a>
                                                
                                                    </div>
                                                </div>
                                            </td>


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->


                    </div>


                </div>

                 <!-- Analit Kit Ekleme -->

                 <div id="analitkitmodal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="analitkitclose">&times;</span>
                            <h2>Analit Kit Ekle</h2>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="card-body">
                                    <h5  style="color: steelblue;">Analit1'e Ait Kitler</h5>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Analit Adı:</label> 
                                        <label for="vehicle1"> Analit1</label><br>
                                  
                    
                    
                    
                                    </div>

                                    <div class="form-group">
                                        <label class="form-control-label" for="input-useractive">Kit Seç</label>
                                        
                  
                                        <select id="input-useractive" class ="form-control" name="useractive"  > 
                                          <option value="True">Kit1</option>
                                          <option value="False">Kit2</option>
                                          <option value="False">Kit3</option>
                                         
                                        </select>
                  
                                      </div>

                           


                                    <div class="col-6 text-right">
                                        <button class="btn btn-neutral btn-primary">Ekle</button>
                                    </div>

                                </div>
                            </form>

                            <br> 
                            <h3 style="text-align: center;">Analit Kit Listesi</h3>
                            <h5 style="text-align: right; margin-right: 122px;"> Arama Alanı:</h5>
                            <div class="topnav">

                                <input type="text" placeholder="Arama..">
                              </div>

                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col" class="sort" data-sort="name">Analit Adı</th>
                                            <th scope="col" class="sort" data-sort="name">Kitler</th>
                                         


                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        <tr>

                                            <th scope="row">
                                                <div class="media align-items-center">

                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">Analit1</span>
                                                    </div>
                                                </div>
                                            </th>
                                            <th scope="row">
                                                <div class="media align-items-center">

                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">Kit1</span>
                                                    </div>
                                                </div>
                                            </th>

                                         




                                            <td class="text-right">
                                                <div class="dropdown">
                                                    <a href="#" role="button" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                 
                                                        <a class="dropdown-item" href="#">Sil</a>
                                                   

                                                    </div>
                                                </div>
                                            </td>


                                        </tr>
                                        <tr>

                                            <th scope="row">
                                                <div class="media align-items-center">

                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">Analit2</span>
                                                    </div>
                                                </div>
                                            </th>

                                            <th scope="row">
                                                <div class="media align-items-center">

                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">Kit2</span>
                                                    </div>
                                                </div>
                                            </th>

                                      


                                            <td class="text-right">
                                                <div class="dropdown">
                                                    <a href="#" role="button" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                        <a class="dropdown-item" href="#">Ekle</a>
                                                        <a class="dropdown-item" href="#">Sil</a>
                                                        <a class="dropdown-item" href="#">Güncelle</a>
                                                    </div>
                                                </div>
                                            </td>


                                        </tr>
                                        <tr>

                                            <th scope="row">
                                                <div class="media align-items-center">

                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">Analit3</span>
                                                    </div>
                                                </div>
                                            </th> 
                                            <th scope="row">
                                                <div class="media align-items-center">

                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">Kit3</span>
                                                    </div>
                                                </div>
                                            </th>



                                            <td class="text-right">
                                                <div class="dropdown">
                                                    <a href="#" role="button" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            
                                                        <a class="dropdown-item" href="#">Sil</a>
                                                   
                                                    </div>
                                                </div>
                                            </td>


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->


                    </div>


                </div>

     


          
    

                <script>
                    // Get the modal
                    var analitbirimmodal = document.getElementById("analitbirimmodal");
                    var analitkitmodal = document.getElementById("analitkitmodal");
                 
                    // Get the button that opens the modal

                    var analitbirimbutton = document.getElementById("analitbirimbutton");
                    var analitkitbutton = document.getElementById("analitkitbutton");

                    // Get the <span> element that closes the modal

                    var analitbirimspan = document.getElementsByClassName("analitbirimclose")[0];
                    var analitkitspan = document.getElementsByClassName("analitkitclose")[0];
               
                    // When the user clicks the button, open the modal 

                    analitbirimbutton.onclick = function () {
                        analitbirimmodal.style.display = "block";
                    }
                    analitkitbutton.onclick = function () {
                        analitkitmodal.style.display = "block";
                    }



                    // When the user clicks on <span> (x), close the modal
                        analitbirimspan.onclick = function () {
                            analitbirimmodal.style.display = "none";
                    }

                    analitkitspan.onclick = function () {
                        analitkitmodal.style.display = "none";
                    }
                 


                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function (event) {
                        if (event.target == analitbirimmodal) {
                            analitbirimmodal.style.display = "none";
                        }
                    }

                    window.onclick = function (event) {
                        if (event.target == analitkitmodal) {
                            analitkitmodal.style.display = "none";
                        }
                    }




                </script>




            </div>
        </div>
    </div>
</div>

         