<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/newcss/biyomedfatih.css">
</head>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Birim Tanımlama Sayfası</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>


    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Birim Tanımlama Tablosu</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Birim Adı</label>
                    <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Birim Adı">

                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Birim Katsayısı</label>
                    <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Birim Katsayısı">
                  

                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Birim Katsayısı</label>
 
                    <select id="input-useractive" class ="form-control" > 
                        <option value="True">ml/g</option>
                        <option value="False">ml/kg</option>
                        <option value="False">lt/mol</option>
               
                      </select>
                    

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                   
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
        </form>
    </div>

    <div class="row">
        <div class="col">
            <div class="card ">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Kullanıcı Tipleri Listesi</h3>
                    <div class="topnav">

                        <input type="text" placeholder="Arama..">
                      </div>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Birim Adı </th>
                                <th scope="col" class="sort" data-sort="name">Birim Katsayısı  </th>
                                <th scope="col" class="sort" data-sort="name">Birim Sembolü </th>
                           

                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">Bakteri</span>
                                        </div>
                                    </div>
                                </th>
                                <th scope="row">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">100</span>
                                        </div>
                                    </div>
                                </th>
                                <th scope="row">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">ml/g</span>
                                        </div>
                                    </div>
                                </th>

                                <td class="text-right">
                                    <div class="dropdown">
                                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                          

                                            <a class="dropdown-item" href="/devicemodels"> Birim Tanımlama Sil</a>
 

                                        </div>
                                    </div>
                                </td>




                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">Mikrop</span>
                                        </div>
                                    </div>
                                </th>
                                <th scope="row">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">1000</span>
                                        </div>
                                    </div>
                                </th>
                                <th scope="row">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">ml/kg</span>
                                        </div>
                                    </div>
                                </th>

                                <td class="text-right">
                                    <div class="dropdown">
                                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            
                                           
                                            <a class="dropdown-item" href="/devicemodels"> Birim Tanımlama Sil</a>

                                        </div>
                                    </div>
                                </td>

                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">Virüs</span>
                                        </div>
                                    </div>
                                </th>
                                <th scope="row">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">10</span>
                                        </div>
                                    </div>
                                </th>
                                <th scope="row">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">lt/mol</span>
                                        </div>
                                    </div>
                                </th>

                                <td class="text-right">
                                    <div class="dropdown">
                                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="/devicemodels"> Birim Tanımlama Sil</a>

                                        </div>
                                    </div>
                                </td>

                          
                        </tbody>
                    </table>
                </div>






         





            </div>

        </div>
    </div>
</div>