<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <style>
           /* SearchBar TopNav Css */
           .topnav {
            overflow: auto;
            background-color: #fefefe;
        }

        .topnav a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #2196F3;
            color: white;
        }

        .topnav input[type=text] {
            float: right;
            padding: 6px;
            margin-top: 8px;
            margin-right: 16px;
            border: none;
            font-size: 17px;
        }

        @media screen and (max-width: 600px) {

            .topnav a,
            .topnav input[type=text] {
                float: none;
                display: block;
                text-align: left;
                width: 100%;
                margin: 0;
                padding: 14px;
            }

            .topnav input[type=text] {
                border: 1px solid #ccc;
            }
        }
   </style>
</head>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kullanıcılar Sayfası</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>


    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Kullanıcılar Tablosu</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">E-Posta</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="E-Posta">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Parola</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Parola">

                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Parola</label>
                  <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Parola">

              </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Kullanıcı Tipi</label>
                    <select id="input-useractive" class ="form-control" name="useractive"  > 
                        <option value="True">Admin</option>
                        <option value="False">Ziyaretçi</option>
                        <option value="False">Personel</option>
                        <option value="False">Güvenlik</option>
                        <option value="False">Hastane</option>
                      </select>

                </div>


                <div class="form-group">
                    <label for="exampleInputEmail1">Kullanıcı Aktifliği</label><br>
                 
                    <input type="checkbox" id="vehicle1" name="vehicle1" > 
                    <label for="vehicle1"> Kullanıcı Aktif</label><br>
             
                </div>

        
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
        </form>
    </div>

    <div class="row">
        <div class="col">
            <div class="card ">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Kullanıcılar Listesi</h3>
                    <div class="topnav">

                        <input type="text" placeholder="Arama..">
                      </div>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">E-Mail</th>
                                <th scope="col" class="sort" data-sort="budget">Parola</th>
                                <th scope="col" class="sort" data-sort="status">Kullanıcı Tipi</th>
                                <th scope="col">Kullanıcı Aktifliği</th>
                               
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                      
                                      <div class="media-body">
                                        <span class="name mb-0 text-sm">Email1</span>
                                      </div>
                                    </div>
                                  </th>
                                  <th scope="row">
                                    <div class="media align-items-center">
                                   
                                      <div class="media-body">
                                        <span class="name mb-0 text-sm">Parola1</span>
                                      </div>
                                    </div>
                                  </th>
                                  <th scope="row">
                                    <div class="media align-items-center">
                                     
                                      <div class="media-body">
                                        <span class="name mb-0 text-sm">Admin</span>
                                      </div>
                                    </div>
                                  </th>
                                  <th scope="row">
                                    <div class="media align-items-center">
                                      
                                      <div class="media-body">
                                        <span class="name mb-0 text-sm">Aktif1</span>
                                      </div>
                                    </div>
                                  </th>

                            

                                <td class="text-right">
                                    <div class="dropdown">
                                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          
                                            <a class="dropdown-item" id="analitkitbutton">Kullanıcı Sil</a>        
                                     
                

                                        </div>
                                    </div>
                                </td>




                            </tr>
                            <tr><th scope="row">
                                <div class="media align-items-center">
                                 
                                  <div class="media-body">
                                    <span class="name mb-0 text-sm">Email2</span>
                                  </div>
                                </div>
                              </th>
                              <th scope="row">
                                <div class="media align-items-center">
                               
                                  <div class="media-body">
                                    <span class="name mb-0 text-sm">Parola2</span>
                                  </div>
                                </div>
                              </th>
                              <th scope="row">
                                <div class="media align-items-center">
                                 
                                  <div class="media-body">
                                    <span class="name mb-0 text-sm">Ziyaretçi</span>
                                  </div>
                                </div>
                              </th>
                              <th scope="row">
                                <div class="media align-items-center">
                                  
                                  <div class="media-body">
                                    <span class="name mb-0 text-sm">Aktif2</span>
                                  </div>
                                </div>
                              </th>

                             

                                <td class="text-right">
                                    <div class="dropdown">
                                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        
                                            <a class="dropdown-item" id="programanalitbutton">Kullanıcı Sil</a>        
                                           
                    

                                        </div>
                                    </div>
                                </td>

                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                 
                                      <div class="media-body">
                                        <span class="name mb-0 text-sm">Email3</span>
                                      </div>
                                    </div>
                                  </th>
                                  <th scope="row">
                                    <div class="media align-items-center">
                                   
                                      <div class="media-body">
                                        <span class="name mb-0 text-sm">Parola3</span>
                                      </div>
                                    </div>
                                  </th>
                                  <th scope="row">
                                    <div class="media align-items-center">
                                     
                                      <div class="media-body">
                                        <span class="name mb-0 text-sm">Personel</span>
                                      </div>
                                    </div>
                                  </th>
                                  <th scope="row">
                                    <div class="media align-items-center">
                                      
                                      <div class="media-body">
                                        <span class="name mb-0 text-sm">Aktif3</span>
                                      </div>
                                    </div>
                                  </th>

                             

                                <td class="text-right">
                                    <div class="dropdown">
                                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                     
                                            <a class="dropdown-item" id="programanalitbutton">Kullanıcı Sil</a>        
                                        

                                        </div>
                                    </div>
                                </td>
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                     
                                          <div class="media-body">
                                            <span class="name mb-0 text-sm">Email4</span>
                                          </div>
                                        </div>
                                      </th>
                                      <th scope="row">
                                        <div class="media align-items-center">
                                       
                                          <div class="media-body">
                                            <span class="name mb-0 text-sm">Parola4</span>
                                          </div>
                                        </div>
                                      </th>
                                      <th scope="row">
                                        <div class="media align-items-center">
                                         
                                          <div class="media-body">
                                            <span class="name mb-0 text-sm">Güvenlik</span>
                                          </div>
                                        </div>
                                      </th>
                                      <th scope="row">
                                        <div class="media align-items-center">
                                          
                                          <div class="media-body">
                                            <span class="name mb-0 text-sm">Aktif4</span>
                                          </div>
                                        </div>
                                      </th>
    

                                  
    
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                              
                                                <a class="dropdown-item" id="programanalitbutton">Kullanıcı Sil</a>        
                                          
                                        
    
                                            </div>
                                        </div>
                                    </td>
    
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                     
                                          <div class="media-body">
                                            <span class="name mb-0 text-sm">Email5</span>
                                          </div>
                                        </div>
                                      </th>
                                      <th scope="row">
                                        <div class="media align-items-center">
                                       
                                          <div class="media-body">
                                            <span class="name mb-0 text-sm">Parola5</span>
                                          </div>
                                        </div>
                                      </th>
                                      <th scope="row">
                                        <div class="media align-items-center">
                                         
                                          <div class="media-body">
                                            <span class="name mb-0 text-sm">Hastane</span>
                                          </div>
                                        </div>
                                      </th>
                                      <th scope="row">
                                        <div class="media align-items-center">
                                          
                                          <div class="media-body">
                                            <span class="name mb-0 text-sm">Aktif5</span>
                                          </div>
                                        </div>
                                      </th>
    

                          
    
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                  
                                            <a class="dropdown-item" id="programanalitbutton">Kullanıcı Sil</a>        
                         
    
                                            </div>
                                        </div>
                                    </td>
    
    
    
                                </tr>
                        </tbody>
                    </table>
                </div>




            
    

                


            </div>

          </div>
        </div>
    </div>